body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(111, 132, 115);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 800px;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333333;
}

section {
    margin-bottom: 30px;
}

#totals-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.total-item {
    text-align: center;
}

#calendar-section {
    text-align: center;
}

#entry-form-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#entries-table-section {
    overflow-x: auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#calendar {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333333;
}

td {
    color: #333333;
}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    color: #333333;
}

.fc .fc-button {
    background-color: #858585;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.fc .fc-button:hover {
    background-color: #858585;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #858585;
}

.fc .fc-daygrid-day-number {
    color: #4CAF50;
}

.fc .fc-event {
    background-color: #4CAF50;
    border: none;
}

.fc-event-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.income-amount {
    color: green;
    font-weight: bold;
}

.expense-amount {
    color: red;
    font-weight: bold;
}

.update-form-container {
    display: none;
    transition: all 0.3s ease;
}

.update-form-container.visible {
    display: table-row;
}

.update-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.update-form input, .update-form select {
    width: 20%;
    margin: 5px;
    padding: 5px;
}

.update-form .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #333333;
}